<!DOCTYPE html>
<html>
  <head>
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen" />  
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Usuarios</title>
   
  </head>
  <body>
    <!--/* Standard layout can be mixed with Layout Dialect */-->
    <div>
     
    </div>
    <div class="container">
      <div layout:fragment="content">

     
        
      </div>
      <div>&copy;Static Templates</div>
    </div>
  </body>
</html>